<<<<<<< HEAD
body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }
=======
td {
    height: 100px;
    width: 200px;
    background-color: lightblue;
}
>>>>>>> 600e2fd (initial dummy commit)
